spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/crm_hygia
    username: YOUR_USER
    password: YOUR_PASS
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

